@charset "UTF-8";

table.t-type02{
	font-family: HYPost;
	color: #FF9292;
	font-weight: normal;
	background-color: #FFC0CB;
	font-size: 15px;	
}

a.b1:link {
   text-decoration: none;
   color: #FF9292;
}

a.b1:visited {
   color: #FFDCDC;
   text-decoration: none;
}

a.b1:hover {
	text-decoration: none;
	color: #FFDCDC;
	font-size: 18px;
}

